
credentials.json
MyWebApp/src/icons/finish_flag.png
MyWebApp/src/icons/first_truck.png
MyWebApp/src/icons/path_truck.png
MyWebApp/src/icons/second_truck.png
MyWebApp/src/icons/start_flag.png
MyWebApp/src/icons/start_flag_t1.png
