body {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
}

#CoordPanel {
    background: none rgb(73, 253, 82);
    border: 5px;
    margin: 0px;
    padding: 5px;
    position: absolute;
    border-radius: 2px;
    height: 450px;
    width: 230px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    top: 20%;
    left: 0px;
}

#brandcontainer {
    background: #162731;
    opacity: 0.7;
    margin-top: 15px;
    margin-left: 10px;
    width: 390px;
    height: 50px;
    z-index: 30;
    position: relative;
}

#branding {
    color: #ffffff;
    padding: 1px;
    margin-top: -65px;
    margin-left: 20px;
    z-index: 40;
    position: relative;
}

#cent {
    background: none rgb(255, 255, 255);
    border: 0px;
    margin: 10px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    bottom: 50px;
    right: 20px;
}

.material-icons {
    z-index: 50;
    position: relative;
}

.panel {
    z-index: 50;
    position: relative;
}